body{
    background-image: url(wallpaper.jpg);
    background-size: 100%;
    color: rgb(204, 204, 204);
    font-family: "Quicksand";
    background-repeat: none;
    background-size: cover;
}

.fejlec{

text-align: center;
font-size: 75px;
color: rgb(255, 255, 255);
}

.tartalom{
/* From https://css.glass */
background: rgba(0, 0, 0, 0.74);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(0, 0, 0, 0.45);}

.navbar-dark{
/* From https://css.glass */
background: rgba(0, 0, 0, 0.74);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(0, 0, 0, 0.45);
font-size: 25px;
}
